.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/hot
public/storage
database/database.sqlite
*.log
.DS_Store
Thumbs.db
*.md
!README.md
tests/
.phpunit.result.cache
docker-compose.yml
docker-compose-full.yml
setup.ps1